---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import StarIcon from "../components/icons/Star.astro";
import Projects from "../components/Projects.astro";
import AtIcon from "../components/icons/AtIcon.astro";
import Socials from "../components/Socials.astro";
import EmailIcon from "../components/icons/Email.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Ana Perez Front end Dev"
  description="Ana Perez - Frontend Developer"
>
  <main class="w-full px-5 max-w-3xl mx-auto">
    <SectionContainer class="py-14">
      <Hero>
        <slot />
      </Hero>

      <hr
        class="border border-dotted w-full mt-6 dark:border-gray-600 border-gray-300 rounded-md"
      />
    </SectionContainer>

    <SectionContainer>
      <h1
        class="text-2xl mb-10 flex items-center gap-3 font-bold text-purple-400 p-2 dark:text-white"
      >
        Experience
        <BriefcaseIcon />
      </h1>

      <Experience />
    </SectionContainer>

    <SectionContainer class="py-14">
      <h1
        class="text-2xl mb-10 flex items-center gap-3 font-bold text-purple-400 p-2 dark:text-white"
      >
        Projects
        <StarIcon />
      </h1>
      <Projects />
    </SectionContainer>

    <SectionContainer class="py-14">
      <h1
        class="text-2xl mb-10 flex items-center gap-3 font-bold text-purple-400 p-2 dark:text-white"
      >
        Socials
        <AtIcon />
      </h1>
      <Socials />
    </SectionContainer>

    <SectionContainer class="py-14">
      <h1
        class="text-2xl mb-5 flex items-center gap-3 font-bold text-purple-400 p-2 dark:text-white"
      >
        Contact
        <EmailIcon class="mt-2 size-7" />
      </h1>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
