---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
---

<Layout
  title="Portfolio Ana Perez"
  description="Portfolio Ana Perez | Frontend Developer"
>
  <main class="w-full px-5 max-w-3xl mx-auto">
    <SectionContainer class="py-36 md:py-20">
      <Hero>
        <slot />
      </Hero>

      <hr class="border border-dotted w-full mt-6 border-gray-300 rounded-md" />
    </SectionContainer>

    <SectionContainer>
      <div class="flex mb-10 items-center gap-4">
        <h1 class="text-2xl font-bold">Experience</h1>
        <BriefcaseIcon />
      </div>

      <Experience />
    </SectionContainer>
  </main>
</Layout>
