---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="w-full bottom-0 static flex justify-center items-center max-w-3xl mx-auto py-5 px-2 z-20 bg-white dark:bg-transparent bg-opacity-5 dark:bg-opacity-80 backdrop-blur-lg"
>
  <div class="w-full">
    <p class="font-semibold">Ana Perez</p>
  </div>

  <ThemeToggle />
</header>
