---
import { Icon } from 'astro-icon/components';
import FileCv from './icons/FileCv.astro';
import { Image } from 'astro:assets';
import ImgPortfolio from '../imgs/img-portfolio.webp';
---

<div
  class="flex w-full md:flex-row items-center md:items-start md:gap-5 p-2 flex-col"
>
  <div
    class="w-44 h-44 grow-0 shrink-0 rounded-full shadow-xl mb-6 p-2 dark:bg-gray-900/80 bg-gray-300"
  >
    <Image
      class="w-full h-full object-cover rounded-full"
      src={ImgPortfolio}
      alt="img-portfolio"
    />
  </div>
  <div
    class="flex flex-col md:text-start md:items-start w-full md:mt-6 text-center items-center gap-4"
  >
    <h1
      class="font-bold text-slate-600 dark:text-slate-100 text-2xl md:text-4xl"
    >
      Ana Perez
    </h1>
    <p class="text-slate-700 text-sm dark:text-slate-300 md:text-lg">
      I'm dedicated to front-end development. I love creating stunning web
      designs.
    </p>
    <div
      class="flex w-full gap-2 md:gap-4 items-center mt-6 justify-center md:justify-normal"
    >
      <a href="https://www.linkedin.com/in/anaperafan-dev/" target="_blank">
        <Icon
          name="Linkedin"
          size={40}
          class={' text-slate-600 dark:text-slate-100 cursor-pointer'}
        />
      </a>

      <a
        href="https://drive.google.com/file/d/1MJQXP4dL77ICrtNbge30R4WMLQQi_KJW/view?usp=drive_link"
        target="blank"
        download="Ana Perez CV"
        class="bg-purple-200 cursor-pointer text-purple-400 dark:bg-purple-500 w-full flex items-center max-w-[40%] md:max-w-[30%] justify-center gap-1 text-sm font-semibold px-1 py-2 rounded-lg dark:text-purple-100 border-gray-500"
      >
        <FileCv />
        CV HERE
      </a>
    </div>
  </div>
</div>
