---
import CardProjects from './CardProjects.astro';
import MiniCardProjects from './MiniCardProjects.astro';
import IMG1 from '../imgs/image-projects.webp';
import IMG2 from '../imgs/image-projects-2.webp';
import IMG3 from '../imgs/image-projects-3.png';
import IMG4 from '../imgs/geoquizza-gif.gif';
import IMG5 from '../imgs/petopia-gif.gif';
const PRINCIPAL_PROJECTS = [
  {
    img: IMG4,
    title: 'Geoquizza 🌎',
    description:
      'Game to guess the country by its flag. Developed with React. Functional.',
    link: 'https://geoquizza.netlify.app',
    tags: ['React', 'API REST'],
  },

  {
    img: IMG5,
    title: 'Petopia 🐶',
    description:
      'Web page to find pets for adoption. Developed with React. Functional.',
    link: 'https://petopiacol.netlify.app',
    tags: ['React', 'REDUX', 'API REST'],
  },
  {
    img: IMG3,
    title: 'Github searcher',
    description: 'Search for users and repositories on github. Functional.',
    link: 'https://examen-github-user.vercel.app/',
    tags: ['React', 'Typescript', 'API REST'],
  },
  {
    img: IMG2,
    title: 'Sunset',
    description:
      'Weather page with a map and geolocation function. Designed with an intuitive and attractive interface. Uses OpenWeather API.',
    link: 'https://sunset-issblann.vercel.app',
    tags: ['React', 'CSS vanilla'],
  },
];

const SECONDARY_PROJECTS = [
  {
    title: 'BOOM',
    description:
      'Web platform promoting sustainable mobility with eco-friendly transport solutions and a responsive design for all devices.',
    link: 'https://github.com/Issblann/boom-md',
    tags: ['React', 'REDUX', 'API REST'],
  },
  {
    title: 'Hyper Page',
    description:
      'Web page virtual store inspired by the design of hyperx, store peripherals gamers. It was made as a final project for the React module. Functional.',
    link: 'https://eccommerce-tech-nucba.vercel.app',
    tags: ['React', 'Styled Components'],
  },
  {
    title: 'SuperMercar System',
    description: 'Supermarket API.',
    link: 'https://github.com/Issblann/Taller_4_JAVA_SuperMercarSis',
    tags: ['JAVA'],
  },
  {
    title: 'Fresh Care',
    description: 'Skincare landing page.',
    link: 'https://fresh-care.vercel.app/',
    tags: ['Javascript', 'CSS vanilla', 'HTML'],
  },
];
---

<div class="flex flex-col gap-14">
  {PRINCIPAL_PROJECTS.map((project) => <CardProjects {...project} />)}
  <div class="grid md:grid-cols-2 grid-cols-1 w-full gap-4">
    {SECONDARY_PROJECTS.map((project) => <MiniCardProjects {...project} />)}
  </div>
</div>
