---
import CardProjects from "./CardProjects.astro";
import MiniCardProjects from "./MiniCardProjects.astro";
import IMG1 from "../imgs/image-projects.webp";
import IMG2 from "../imgs/image-projects-2.webp";
const PRINCIPAL_PROJECTS = [
  {
    img: IMG1,
    title: "HyperX",
    description:
      "Web page virtual store inspired by the design of hyperx, store peripherals gamers. It was made as a final project for the React module. Functional.",
    link: "https://eccommerce-tech-nucba.vercel.app",
    tags: ["React", "Styled Components"],
  },
  {
    img: IMG2,
    title: "Sunset",
    description:
      "Weather page with a map and geolocation function. Designed with an intuitive and attractive interface. Uses OpenWeather API.",
    link: "https://sunset-issblann.vercel.app",
    tags: ["React", "CSS vanilla"],
  },
];

const SECONDARY_PROJECTS = [
  {
    title: "Pomodoro React Native",
    description: "Pomodoro with React Native.",
    link: "https://github.com/Issblann/Pomodoro-React-Native",
    tags: ["React Native", "Expo"],
  },
  {
    title: "Quotes Page",
    description: "Motivational life quotes of famous leaders.",
    link: "https://github.com/Issblann/Quotes-Page",
    tags: ["Javascript", "CSS vanilla", "HTML"],
  },
  {
    title: "SuperMercar System",
    description: "Supermarket API.",
    link: "https://github.com/Issblann/Taller_4_JAVA_SuperMercarSis",
    tags: ["JAVA"],
  },
  {
    title: "Fresh Care",
    description: "Skincare landing page.",
    link: "https://fresh-care.vercel.app/",
    tags: ["Javascript", "CSS vanilla", "HTML"],
  },
];
---

<div class="flex flex-col gap-14">
  {PRINCIPAL_PROJECTS.map((project) => <CardProjects {...project} />)}
  <div class="grid md:grid-cols-2 grid-cols-1 w-full gap-4">
    {SECONDARY_PROJECTS.map((project) => <MiniCardProjects {...project} />)}
  </div>
</div>
